vendor*
target
/result
.cargo
debian/xdg-desktop-portal-cosmic*
debian/*debhelper*
debian/files
data/dbus-1/org.freedesktop.impl.portal.desktop.cosmic.service
data/org.freedesktop.impl.portal.desktop.cosmic.service
