[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.cosmic
Exec=/usr/libexec/xdg-desktop-portal-cosmic
SystemdService=xdg-desktop-portal-cosmic.service
